<style>
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  body{
    min-height: 100vh;
    background-color: #090c31;
    display: grid;
    place-items: center;
  }

  .calculadora{
    background-color: #15173c;
    color: white;
    width: 350px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
    padding: 1.5rem;
    gap: 1.5rem;
    margin: 2rem;
  }

  .pantalla{
    grid-column: 1/5;
    background-color: #090c31;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
  }

  .btn{
    background-color: #15173c;
    color: white;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .btn:hover{
    background-color: #090c31;
  }

  #cero{
    grid-column: span 2;
  }

  #igual{
    grid-row:  span 2;
    background-color: rgb(44, 170, 170);
  }

  #igual:hover{
    background-color: rgb(39, 116, 116);
  }

</style>

<body>
  <div class="calculadora">
    <div class="pantalla">{{pantalla}}</div>
    <button id="c" class="btn" (click)="clear()">C</button>
    <button id="borrar" class="btn" (click)="delete()">←</button>
    <button class="btn" (click)="handleClick('/')">/</button>
    <button class="btn" (click)="handleClick('x')">x</button>
    <button class="btn" (click)="handleClick('7')">7</button>
    <button class="btn" (click)="handleClick('8')">8</button>
    <button class="btn" (click)="handleClick('9')">9</button>
    <button class="btn" (click)="handleClick('-')">-</button>
    <button class="btn" (click)="handleClick('4')">4</button>
    <button class="btn" (click)="handleClick('5')">5</button>
    <button class="btn" (click)="handleClick('6')">6</button>
    <button class="btn" (click)="handleClick('+')">+</button>
    <button class="btn" (click)="handleClick('1')">1</button>
    <button class="btn" (click)="handleClick('2')">2</button>
    <button class="btn" (click)="handleClick('3')">3</button>
    <button id="igual" class="btn" (click)="solution()">=</button>
    <button id="cero" class="btn" (click)="handleClick('0')">0</button>
    <button class="btn" (click)="handleClick('.')">.</button>
  </div>
</body>